

<footer class="fixed bottom-0 right-0 z-20 w-4/6 bg-white border-t border-gray-200 shadow md:flex md:items-center md:justify-between p-2.5 dark:bg-gray-800 dark:border-gray-600">
    <span class="text-sm text-purple-400 text-center dark:text-gray-400 px-5">© 2023 <a href="https://flowbite.com/" class="hover:underline">Joaju Multiagente™</a>. All Rights Reserved.
    </span>
    <span class="text-sm text-purple-400 text-center dark:text-gray-400 px-5">
        v 3.4.2
    </span>
   
</footer>
